{% load static %} {% if messages %} {% for message in messages %} {% comment %}
blue bg if message.tags == 'info' green bg if message.tags == 'success' yellow
bg if message.tags == 'warning' red bg if message.tags == 'error' rounded-lg
px-4 py-2 shadow-lg my-2 {% endcomment %}
<div
  class="{{message.tags}} flex items-center justify-between text-sm py-2 px-4 border border-green-400 rounded mb-4 show-notifcation"
>
  <p>
    <strong class="font-bold">{{ message }}</strong>
  </p>
  <button onclick="this.parentElement.style.display='none'">
    <svg
      class="fill-current h-6 w-6 text-green-500"
      role="button"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <title>Close</title>
      <path
        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10
            11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.651-3.029-2.651-3.029a1.2
            1.2 0 1 1 1.697-1.697l2.651 3.029 2.651-3.029a1.2 1.2 0 1
            1 1.697 1.697l-2.651 3.029 2.651 3.029a1.2 1.2 0 0
            1 0 1.697z"
      />
    </svg>
  </button>
</div>
{% endfor %} {% endif %}
