{% extends 'main.html' %} {% load static %} {% block content %}
<div class="hero-bg">
  <div class="md:w-[50%] w-[80%]">
    <h2 class="font-barlow text-center text-2xl text-[#ff5634]">
      Find vetinary clinics around you
    </h2>
    <h1 class="font-barlow text-center text-5xl text-white">
      Is your pet sick? Find a clinic near you
    </h1>
    <p class="text-gray-400 font-gilda text-center mt-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatibus, voluptatem, quibusdam, quia voluptates voluptatum voluptate
      quos doloribus quod quas? Quisquam voluptatibus, voluptatem, quibusdam,
      quia voluptates voluptatum voluptate quos doloribus quod quas?
    </p>
  </div>
</div>

<div class="w-[90%] mx-auto mt-20">
  <h1 class="text-center text-5xl capitalize text-blue-500 mt-20">Clinics</h1>
  <p class="text-black-500 mt-5">
    Explore the best vetinary clinics in your area
  </p>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-10 w-full"
  >
    {% for clinic in clinics %}
    <div class="relative mx-auto w-full">
      <div
        class="relative inline-block duration-300 ease-in-out transition-transform transform hover:-translate-y-2 w-full"
      >
        <div class="shadow p-4 rounded-lg bg-white">
          <div
            class="flex justify-center relative rounded-lg overflow-hidden h-52"
          >
            <div
              class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full"
            >
              <div class="">
                <img
                  src="{{ clinic.profile.profile_picture.url }}"
                  alt=""
                  class="w-full h-full object-cover"
                />
              </div>
            </div>

            <div class="absolute flex justify-center bottom-0 mb-3"></div>
            {% if clinic.opening_hour.is_closed %}
            <span
              class="absolute top-0 left-0 inline-flex mt-3 ml-3 px-3 py-2 rounded-lg z-10 bg-red-500 text-sm font-medium text-white select-none"
            >
              Closed
            </span>

            {% else %}
            <span
              class="absolute top-0 left-0 inline-flex mt-3 ml-3 px-3 py-2 rounded-lg z-10 bg-green-500 text-sm font-medium text-white select-none"
            >
              Open
            </span>

            {% endif %}
          </div>

          <div class="mt-4">
            <h2
              class="font-medium text-base md:text-lg text-gray-800 line-clamp-1"
              title="New York"
            >
              {{ clinic.vendor_name }}
            </h2>
            <p class="mt-2 text-sm text-gray-800">
              {{ clinic.profile.address }}
            </p>

            <p class="mt-2 text-sm text-gray-800 line-clamp-1">
              {{ clinic.profile.phone_number }}
            </p>
            <button class="bg-[#ff5634] text-white rounded-md px-5 py-2 mt-5">
              <a href="{% url 'appointments_booking' clinic.id %}">
                Book Appointment
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
